@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    background-color: #000000;
    font-family: "Fredoka", sans-serif;
}

#quienes-somos {
    color: #ffffff;
    padding: 2% 10%;
}

#destacados {
    color: #ffffff;
    padding: 2% 10%;
}

.icons-quienessomos {
    font-size: 200%;
}

#contacto {
    color: #ffffff;
    padding: 2% 10%;
}

#icons-footer {
    font-size: 200%;
}

.footer-principal {
    color: #ffffff;
    padding: 3% 15%;
}

.custom-tooltip{
    --bs-tooltip-bg: whitesmoke;
    --bs-tooltip-color: black; 
}